@media (max-width: 768px) {
	.paddingTopFix {
		padding-top: 94px;
	}
}

.comments {
    margin-bottom: 100px;
}
.comments__row {
    margin-bottom: 30px;
}
.comments__grid {
	margin-bottom: 30px;
}
.comments__item {
	height: 100%;
	position: relative;
	padding-bottom: 30px;
}
.comments__name {
    margin-bottom: 5px;
    color: #989697;
}
.comments__more {
    color: #6C130E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.PopupOver {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #333;
}
.commentsPopup {
	max-width: 630px;
	padding: 54px 30px 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	position: relative;
}
.commentsPopup__name {
	margin-bottom: 12px;
	color: #989697;
}
.commentsPopup__text p {
	margin-bottom: 25px;
}
.commentsPopup__close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -4px;
	right: -60px;
	cursor: pointer;
}
.commentsPopup__close:after {
	content: '';
	display: block;
	height: 1px;
	width: 40px;
	background-color: #fff;
	position: absolute;
	top: 18px;
	left: 2px;
	transform: rotate(45deg);
}
.commentsPopup__close:before {
	content: '';
	display: block;
	height: 1px;
	width: 40px;
	background-color: #fff;
	position: absolute;
	top: 18px;
	left: 2px;
	transform: rotate(-45deg);
}

.autorCopyright {
    padding: 70px 0 50px;
}
.autorCopyright__title {
    margin-bottom: 25px;
}
.autorCopyright__subtitle {
    margin-bottom: 20px;
}
.autorCopyright__container {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.autorCopyright__subtitle {
    font-weight: bold;
}
.autorCopyright ol{
    list-style: none;
    counter-reset: li;
}
.autorCopyright li:before {
    counter-increment: li;
    content: counters(li,".") ". ";
}
.autorCopyright__list > li {
    margin-bottom: 35px;
}
.autorCopyright__list > li:before {
    visibility: hidden;
}
.autorCopyright__list li {
    padding-left: 0;
}
.autorCopyright__list ol li {
    margin-bottom: 16px;
}
.title-b {
	font-family: Oranienbaum;
	font-size: 2.3rem;
	text-transform: uppercase;
}

.travel {
	margin-bottom: 50px;
}
.travel__grid {
	padding-bottom: 77px;
}
.travel__item {
	height: 100%;
	position: relative;
	padding-bottom: 20px;
}
.travel__img {
	display: block;
	position: relative;
	overflow: hidden;
}
.travel__img:after {
	content: '';
	display: block;
	padding-top: 125%;
}
.travel__img img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s ease-out;
}
.travel__img:hover img {
	transform: scale(1.05);
}
.travel__content {
	position: relative;
	padding-top: 20px;
}
.travel__country {
	font-size: 1.1rem;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.travel__title {
	font-family: Oranienbaum;
	font-size: 2.3rem;
	text-transform: uppercase;
	margin-bottom: 5px;
	text-decoration: none;
	text-align: left;
}
.travel__title a:hover {
	color: #9a9a9a;
}
.travel__text {
	margin-bottom: 20px;
}
.travel__more {
	font-size: 1.1rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #6C130E;
	position: absolute;
	left: 0;
	bottom: 0;
}
.travel .section-more {
	margin-top: 0;
}

.newCategories {
	margin-bottom: 90px;
}
.newCategories .section-more {
	margin: 0;
}
.newCategories__grid {
	margin-bottom: 57px;
}
.newCard {
	height: 100%;
	position: relative;
}
.newCard__img {
	display: block;
	position: relative;
	overflow: hidden;
}
.newCard__img:before {
	content: '';
	display: block;
	padding-top: 56%;
}
.newCard__play {
	width: 70px;
	height: 70px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url(../img/play-icon.png);
	background-repeat: no-repeat;
	background-position: 52% 50%;
	background-color: transparent;
}
.newCard__img:hover .newCard__play {
	background-color: rgba(255,255,255, 0.2);
}
.newCard__img img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s ease-out;
}
.newCard__img:hover img {
	transform: scale(1.05);
}
.newCard__content {
	padding: 6px 0 28px;
}
.newCard__title {
	text-align: left;
	margin-bottom: 4px;
}
.newCard__title a {
	font-family: Oranienbaum;
	font-size: 2.3rem;
	text-transform: uppercase;
	color: #231F20;
	transition: .3s;
}
.newCard__title a:hover {
	color: #9a9a9a;
}
.newCard__descr {
	margin-bottom: 10px;
}
.newCard__text {

}
.newCard__link {
	font-size: 1.1rem;
	color: #6C130E;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	bottom: 0;
}

.thematic {
	padding: 83px 0 90px;
	margin-bottom: 85px;
	background-color: #E5DED8;
}
.thematic__grid {
	margin-bottom: 30px;
}
.thematic .h2_black {
	padding-bottom: 33px;
}

.fresh {
	margin-bottom: 110px;
	position: relative;
}
.fresh .h2_black {
	margin-bottom: 10px;
}
.fresh__slider {

}
.fresh__arrow {
	padding: 20px 10px;
	position: absolute;
	top: 50%;
	transform: translate(0,-70%);
	cursor: pointer;
}
.fresh__arrow--prev {
	left: -40px;
}
.fresh__arrow--next {
	transform: translate(0,-70%) rotate(180deg);
	right: -40px;
}

.freshSlider {

}
.freshSlider__slide {
	padding: 0 15px;
}
.freshSlider .slick-list {
	margin: 0 -15px;
}







@media (max-width: 1024px) {

}

@media (max-width: 769px) {
	.PopupOver {
		padding-left: 10px;
		padding-right: 10px;
	}
	.commentsPopup {
		padding: 25px 20px 20px;
	}
	.commentsPopup__text p {
		margin-bottom: 15px;
	}
	.commentsPopup__close {
		width: 24px;
		height: 24px;
		top: -40px;
		right: 0;
	}
	.commentsPopup__close:after {
		width: 27px;
	}
	.commentsPopup__close:before {
		width: 27px;
	}
}

@media (max-width: 479px) {
	.comments {
    margin-bottom: 60px;
	}
	.comments__row {
		margin-bottom: 0;
	}
	.comments .section-more {
		margin-top: 0;
	}
	.title-b {
      font-size: 1.4rem;
  }
  .autorCopyright {
      padding: 5px 0 40px;
  }
  .autorCopyright__title {
      margin-bottom: 0;
  }
  .autorCopyright__subtitle {
      margin-bottom: 10px;
  }
  .autorCopyright__list ol li {
      margin-bottom: 10px;
  }
  .autorCopyright__list > li {
      margin-bottom: 15px;
  }
  .travel__content {
    padding-top: 10px;
  }
  .travel__country {
    font-size: 0.9rem;
  }
  .travel__more {
    font-size: 0.9rem;
  }
  .travel__text {
    margin-bottom: 10px;
	}
	.travel__grid {
    padding-bottom: 40px;
	}
	.travel__grid:not(:last-child) .travel__item:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #ececec;
		position: absolute;
		left: 0;
		bottom: -20px;
	}
}